<% layout("_layout.ejs") %>
<aside>
	<ul class="nav">
		<li><a href="/home"><span class="fa fa-home"></span>Home</a></li>
		<li><a href="/produtos"><span class="fa fa-square"></span>Produtos</a></li>
		<li><a href="/logout"><span class="fa fa-power-off"></span>Sair</a></li>
	</ul>
</aside>
<div class="content">
	<%- body %>
</div>