body {
	&>.alert{
		bottom:0;
		position:absolute;
		left:0;
		right:0;
		width:auto;
	}
}
.chariot.icon{
  border-radius:100%;
  border:5px solid #f9f9f9;
  height:20px;
  width:20px;
  display:block;
  position:relative;
  float:left;
  clear:none;
}
.chariot.icon:after{
  content: "";
  position: absolute;
  background:transparent;
  height:20px;
  width:34px;
  top: -10px;
  left:-10px;
  border-radius:100% 100% 0 0;  
  border-left:10px solid #f9f9f9;
  border-top:5px solid #f9f9f9;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}
.spinner.mini {
  width: 1em;
  height: 1em;
}

.spinner:before, .spinner:after {
  content: "";
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.spinner:after {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

main{
    width:100%;    
    height:auto;
    display: -webkit-flex;
    display: flex;
    position:absolute;
    left:0;
	bottom:0;
    top:45px;
	&>*{
		-webkit-flex:auto auto 1;
		flex:auto auto 1;
	}
	&>aside{	
		width:300px;
		background:#999;
		border-right:1px solid #666;
		&>.nav>li{
			overflow:hidden;
			background:#666;
			border-bottom:2px groove #999;
			a{
				color: #f9f9f9;
				&:hover{
					color: #fff;
					background: #888;
				}
				&:active{
					color: #eee;
				}
				span{
					margin-right:.5em;
				}
			}
		}
	}
	&>div{
		width:100%;
		box-sizing: border-box;
		padding:1em;
	}
}
@media (max-width: 992px){
	main{
		&>aside{
			width: 200px;
		}
	}
}
@media (max-width: 768px){
	main{
		&>aside{
			width: 120px; 
			span{
				display:none;
			}
		}
	}
}
@media (max-width: 480px){
	main{
		&>aside{
			width: 40px;
			&>.nav>li{
				height:38px;
				span{
					width:40px;
				}
			}
		}
	}
}
